@model IEnumerable<NannyApp.Models.OffersViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<div class="flt lp_block">
    @if (Session["Id"] != null)
    {
        <img src="@Url.Content("~/Content/mytemplate/")images/lp_boxcorn3.gif" width="260" height="15" alt="" class="flt1 lp_boxtop3" />
        <div class="flt1 lp_box2bg">
            <span class="flt lp_txtclint"><a href="@Url.Content("~/User/Logout")" style="color: rgb(255,255,255)">@Session["Username"] logout</a> </span><br />
        </div>
        <img src="@Url.Content("~/Content/mytemplate/")images/lp_boxcorn4.gif" width="260" height="14" alt="" class="flt1" />
    }
    else
    {
    <img src="@Url.Content("~/Content/mytemplate/")images/lp_boxcorn3.gif" width="260" height="15" alt="" class="flt1 lp_boxtop3" />
    <div class="flt1 lp_box2bg">
        <span class="flt lp_txtclint"><a href="@Url.Content("~/User/Login")" style="color: rgb(255,255,255)">Member login</a> </span><br />
    </div>
    <img src="@Url.Content("~/Content/mytemplate/")images/lp_boxcorn4.gif" width="260" height="14" alt="" class="flt1" />

    <img src="@Url.Content("~/Content/mytemplate/")images/lp_boxcorn3.gif" width="260" height="15" alt="" class="flt1 lp_boxtop3" />
    <div class="flt1 lp_box2bg">
        <span class="flt lp_txtclint"><a href="@Url.Content("~/Nanny/CreateNanny")" style="color: rgb(255,255,255)">Create account as nanny</a> </span> 
    </div>
    <img src="@Url.Content("~/Content/mytemplate/")images/lp_boxcorn4.gif" width="260" height="14" alt="" class="flt1" />

    <img src="@Url.Content("~/Content/mytemplate/")images/lp_boxcorn3.gif" width="260" height="15" alt="" class="flt1 lp_boxtop3" />
    <div class="flt1 lp_box2bg">
        <span class="flt lp_txtclint"><a href="@Url.Content("~/Parent/CreateParent")" style="color: rgb(255,255,255)">Create account as parrent</a> </span>
    </div>
    <img src="@Url.Content("~/Content/mytemplate/")images/lp_boxcorn4.gif" width="260" height="14" alt="" class="flt1" />
    }
</div>
<div class="flt rp_block">
    <img src="@Url.Content("~/Content/mytemplate/")images/rp_topcorn.gif" width="560" height="14" alt="" class="flt1 rp_topcornn" />
    <div class="flt1 rp_inner">
        <span class="flt rp_txtour">Giving <span style="color:#3F4534;">services</span></span>
        <span class="flt rp_weltxt">
            Ovdje bi ispisali ponude dadilja - npr. 3 najnovije koje nemaju jos suradnju        
            @foreach (var item in Model)
            {
                @Html.DisplayFor(modelItem => item.NannyOffer.Nanny.Username)
                @Html.DisplayFor(modelItem => item.NannyOffer.City)
            }
        </span> 
        <img src="@Url.Content("~/Content/mytemplate/")images/cp_line.gif" width="511" height="1" alt="" class="flt1 rp_line" /> 
        <span class="flt rp_txtour">Looking for <span style="color:#3F4534;">services</span></span> 
        <span class="flt rp_weltxt">
            Ovdje bi ispisali potražnje roditelja - npr. 3 najnovije koje nemaju jos suradnju
        </span>
    </div>
    <img src="@Url.Content("~/Content/mytemplate/")images/rp_bottcorn.gif" width="560" height="14" alt="" class="flt1" />
</div>

