@model NannyApp.Model.Nanny

@{
    ViewBag.Title = "CreateNanny";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<div class="form-style-8">
    <h2>Create account as nanny</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table>
        <tr>
           @Html.LabelFor(model => model.Username)
           @Html.EditorFor(model => model.Username)
        </tr>
        <tr>
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password)
        </tr>
        <tr>
            @Html.HiddenFor(model => model.UserType, new { Value = "NANNY" })
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
        </tr>
        <tr>
            @Html.LabelFor(model => model.Surname)
            @Html.EditorFor(model => model.Surname)
        </tr>
        <tr>
            @Html.LabelFor(model => model.Gender)
        </tr>
        <br />
        <tr>
                @Html.DisplayName("MALE")
                @Html.RadioButtonFor(x => x.Gender, "MALE")
                @Html.DisplayName("FEMALE")
                @Html.RadioButtonFor(x => x.Gender, "FEMALE")
        </tr>
        <br /><br />
        <tr>           
            @Html.LabelFor(model => model.Contact)
            @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
        </tr>
        <tr>
            @Html.LabelFor(model => model.Education)
            @Html.EditorFor(model => model.Education)
        </tr>
        <br />
        <tr>
            @Html.LabelFor(model => model.Smoking, "Do you smoke?")
            </tr>
        <br />
            <tr>
                @Html.DisplayName("YES")
                @Html.RadioButtonFor(model => model.Smoking, "true")
                @Html.DisplayName("NO")
                @Html.RadioButtonFor(model => model.Smoking, "false")
            </tr>
        <br />
        <tr>
            @Html.LabelFor(model => model.Pets, "Can you handle pets?")
        </tr>
        <br />
            <tr>
                @Html.DisplayName("YES")
                @Html.RadioButtonFor(model => model.Pets, "true")
                @Html.DisplayName("NO")
                @Html.RadioButtonFor(model => model.Pets, "false")
            </tr>
        <br />
        <tr>
            @Html.LabelFor(model => model.SickChildern, "Can you take care of ill child?")
            </tr>
        <br />
        <tr>       
                @Html.DisplayName("YES")
                @Html.RadioButtonFor(model => model.SickChildern, "true")
                @Html.DisplayName("NO")
                @Html.RadioButtonFor(model => model.SickChildern, "false")
        </tr>
        <br />
        <tr>
            @Html.LabelFor(model => model.Car, "Do you have drivers licencse?")
            </tr>
        <br />
        <tr>
                @Html.DisplayName("YES")
                @Html.RadioButtonFor(model => model.Car, "true")
                @Html.DisplayName("NO")
                @Html.RadioButtonFor(model => model.Car, "false")
        </tr>
        <br /><br />
        <tr>
            @Html.LabelFor(model => model.ExtraServices, "Write extra services that you can do (cooking, washing dishes, washing and ironing, cleaning... )")
           @Html.EditorFor(model => model.ExtraServices )
        </tr>
        <tr>
            @Html.LabelFor(model => model.ExtraQualification, "Write extra qualifications that you have (first aid, course for carers,...)")
            @Html.TextAreaFor(model => model.ExtraQualification, new { rows = 10, cols = 40 })
        </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Create account"/></td>
                    </tr>
            </table>
            }
        </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
