@model IEnumerable<NannyApp.Model.Parent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate_nanny.cshtml";
}
<div class="form-style-8">
    @foreach (var item in Model)
    {
        string username = Convert.ToString(Session["Username"]);
        if (item.Username.Equals(username))
        {
            <br />
            <h1>
                Helllooo
                @Html.DisplayFor(modelItem => item.Name)
                @Html.DisplayFor(modelItem => item.Surname) :)
            </h1>
            <br />
            <hr />
            <br /><br />
    <table border="1" style="width:300px" color="#448CCB">

        <tr>
            <td height="50">
                <h3>@Html.DisplayNameFor(model => model.Username):</h3>
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Username)
            </th>
        </tr>

        <tr>
            <td height="50">
                <h3>@Html.DisplayNameFor(model => model.Gender):</h3>
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Gender)
            </th>
        </tr>

        <tr>
            <td height="50">
                <h3>@Html.DisplayNameFor(model => model.Contact):</h3>
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Contact)
            </th>
        </tr>
    </table>


            <br /><br />
            <h3>@Html.ActionLink("Edit profile", "Edit", new { id = item.Id })</h3>
            <br><br><br><br>
        }
    }
</div>