@model NannyApp.Model.Nanny
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_mytemplate_nanny.cshtml";
}
<div class="form-style-8">
    <table>
        <h2>Parent - @Model.Name @Model.Surname</h2>
        <tr>
            <td width="150px">
                <h3>@Html.DisplayNameFor(model => model.Username):</h3>
            </td>
            <td width="300px" align="center">
                @Html.DisplayFor(model => model.Username)
            </td>
            <td width="150px">
                <h3>Contact:</h3>
            </td>
            <td width="300px" align="center">
                @Html.DisplayFor(model => model.Contact)
            </td>
        </tr>
    </table>
    <br /><br />
    <hr />
    <table>
        <tr>
            <td width="350px" align="center">
                <input type="button" value="Cooperations" onclick=" location.href='@Url.Action("Details", "Nanny")' " />
            </td>
        </tr>
        <tr>
            <td width="350px" align="center">
                <input type="button" value="Services" onclick=" location.href='@Url.Action("Details", "Nanny")' " />
            </td>
        </tr>
    </table>

</div>

