@model IEnumerable<NannyApp.Model.Nanny>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate_nanny.cshtml";
}
<div class="form-style-8">
    @foreach (var item in Model)
    {
        string username = Convert.ToString(Session["Username"]);
        if (item.Username.Equals(username))
        {
            <br />
            <h1>
                Helllooo
                @Html.DisplayFor(modelItem => item.Name)
                @Html.DisplayFor(modelItem => item.Surname) :)
            </h1>
            <br />
            <hr />
            <br /><br />
            <table border="1" style="width:600px" color="#448CCB">

                <tr>
                    <td height="50">
                        <h3>@Html.DisplayNameFor(model => model.Username):</h3>
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.Username)
                    </th>
                </tr>

                <tr>
                    <td height="50">
                        <h3>@Html.DisplayNameFor(model => model.Gender):</h3>
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </th>
                </tr>

                <tr>
                    <td height="50">
                        <h3>@Html.DisplayNameFor(model => model.Contact):</h3>
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </th>
                </tr>
                <tr>
                    <td height="50">
                        <h3>@Html.DisplayNameFor(model => model.Education):</h3>
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.Education)
                    </th>
                </tr>
                <tr>
                    <td height="50">
                        <h3>Extra qualifications that you have:</h3>
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.ExtraQualification)
                    </th>
                </tr>
                <tr>
                    <td height="50">
                        <h3>Extra services that you can do:</h3>
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.ExtraServices)
                    </th>
                </tr>
                <tr>
                    <td height="50">
                        <h3>Do you smoke?:</h3>
                    </td>
                    <th>
                        @((bool)item.Smoking ? "Yes" : "No")
                    </th>
                </tr>
                <tr>
                    <td height="50">
                        <h3>Can you handle pets?:</h3>
                    </td>
                    <th>
                        @((bool)item.Pets ? "Yes" : "No")
                    </th>
                </tr>
                <tr>
                    <td height="50">
                        <h3>Can you take care of ill child?:</h3>
                    </td>
                    <th>
                        @((bool)item.SickChildern ? "Yes" : "No")
                    </th>
                </tr>
                <tr>
                    <td height="50">
                        <h3>Do you have drivers licencse?:</h3>
                    </td>
                    <th>
                        @((bool)item.Car ? "Yes" : "No")
                    </th>
                </tr>
            </table>


            <br /><br />
            <h3>@Html.ActionLink("Edit Profile", "Edit", new { id = item.Id })</h3>
            <br><br><br><br>
        }
    }
</div>