@model NannyApp.Model.NannyOffer

@{
    ViewBag.Title = "Detaiils";
    Layout = "~/Views/Shared/_mytemplate_nanny.cshtml";
    int id = Convert.ToInt32(Session["Id"]);
}
<div class="form-style-8">
    <table>
        <h2>Giving services details</h2>
        <tr>
            <td width="150px">
                <h3>@Html.DisplayNameFor(model => model.Deadline):</h3>
            </td>
            <td width="300px" align="center">
                @Html.DisplayFor(model => model.Deadline.Month)/@Html.DisplayFor(model => model.Deadline.Day)
                /@Html.DisplayFor(model => model.Deadline.Year)
            </td>
            <td width="150px">
                <h3>Nanny:</h3>
            </td>
            <td width="300px" align="center">
                @Html.DisplayFor(model => model.Nanny.Username)
            </td>
            <td width="150px">
                <h3>@Html.DisplayNameFor(model => model.Price):</h3>
            </td>
            <td width="300px" align="center">
                @Html.DisplayFor(model => model.Price)
            </td>
        </tr>
    </table>
    <hr />
    <table>
        <tr>
            <td width="150px">
                <h3>Nanny can start work from:</h3>
            </td>
            <td width="300px" align="center">
                @Html.DisplayFor(model => model.StartTime.Day).@Html.DisplayFor(model => model.StartTime.Month).@Html.DisplayFor(model => model.StartTime.Year)
            </td>
            <td width="150px">
                <h3>Nanny can start work until:</h3>
            </td>
            <td width="300px" align="center">
                @Html.DisplayFor(model => model.EndTime.Day).@Html.DisplayFor(model => model.EndTime.Month).@Html.DisplayFor(model => model.EndTime.Year)
            </td>
        </tr>
    </table>
    <hr />
    <table>
        <tr>
            <td width="150px">
                <h3>City:</h3>
            </td>
            <td width="300px" align="center">
                @Html.DisplayFor(model => model.City)
            </td>
            <td width="150px">
                <h3>Nanny's address:</h3>
            </td>
            <td width="300px" align="center">
                @Html.DisplayFor(model => model.Address)
            </td>
        </tr>
    </table>
    <hr />
    <table>
        <tr>
            <td width="150px">
                <h3>Babysitting place:</h3>
            </td>
            <td width="300px" align="center">
                @Html.DisplayFor(model => model.BabySittingPlace)
            </td>
        </tr>
        <tr>
            <td width="150px">
                <h3>Number of children that nanny can take care for:</h3>
            </td>
            <td width="300px" align="center">
                @Html.DisplayFor(model => model.ChildrenNumber)
            </td>
        </tr>
        <tr>
            <td width="300px">
                <h3>Children age that nanny can take for:</h3>
            </td>
            <td width="300px" align="center">
                @Html.DisplayFor(model => model.MinChildrenAge) - @Html.DisplayFor(model => model.MaxChildrenAge) years
            </td>
        </tr>
        <tr>
            <td width="300px">
                <h3>Experience with taking care for childrens:</h3>
            </td>
            <td width="300px" align="center">
                @Html.DisplayFor(model => model.Experience)
            </td>
        </tr>
        <tr>
            <td width="300px">
                <h3>Notice:</h3>
            </td>
            <td width="300px" align="center">
                @Html.DisplayFor(model => model.Notice)
            </td>
        </tr>
    </table>
    <hr />
    <br />


    <input type="button" value="Back to list" onclick="location.href='@Url.Action("Index", "NannyOffer")'" />
    @if (Model.Nanny.Username.Equals(Convert.ToString(Session["Username"])))
    {
        <input type="button" value="Edit your offer" onclick="location.href='@Url.Action("Edit", "NannyOffer", new { id = Model.Id })'" />
    }
    else
    {
        <input type="button" value="Apply for this offer" onclick="location.href='@Url.Action("CreateForNannyOffer", "Cooperation", new { IdParent = id, NannyOffer = Model })'" />
    }
    <br /><br />
    <hr />
    <table>
        <tr>
            <td width="350px">
                <h3>For more information visit nanny's profile:</h3>
            </td>
            <td width="150px" align="center">
                <input type="button" value="@Html.DisplayFor(model => model.Nanny.Username)" onclick=" location.href='@Url.Action("Details", "Nanny", new {id = Model.Nanny.Id})' " />
            </td>
        </tr>
    </table>
</div>