@model IEnumerable<NannyApp.Model.NannyOffer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<div class="form-style-8">
    <table border="1" style="width:450px" color="#448CCB">
        <thead>
        <th>Deadline</th>
        <th>Username</th>
        <th>City</th>
        <th>Price</th>
        <th>Details</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Nanny != null)
                {
                    <tr>
                        <td height="50" align="center">
                            @Html.DisplayFor(modelItem => item.Deadline.Month)/
                            @Html.DisplayFor(modelItem => item.Deadline.Day)/
                            @Html.DisplayFor(modelItem => item.Deadline.Year)
                        </td>
                        <td height="50" align="center">
                            @Html.DisplayFor(modelItem => item.Nanny.Username)
                        </td>
                        <td height="50" align="center">
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td height="50" align="center">
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <h3>@Html.ActionLink("Details", "Details", "NannyOffer", new { IdNanny = item.Nanny.Id, IdOffer = item.Id }, null)</h3>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

